{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

    <div class="example-wrapper ">
        <h1>{{ controller_name }} </h1>


    </div>
    <div class="sidebar">
        <aside>
            <p> test</p>
        </aside>
    </div>

{% endblock %}

