{% extends 'base.html.twig' %}

{%block footer %}
    {{  parent() }}
    <div class="foot-wrapper ">
        <footer class="position-absolute fixed-bottom">
            <p> Hi this is the footer</p>
            <p> Copyright Thabo </p>
        </footer>
    </div>
{%endblock %}